#appHeading {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--text);
  background-color: var(--secondary);
  overflow: hidden;
  height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: fixed;
  top: 0;
  left: 0;
}

#appHeading img {
  margin: 0 1vh;
  height: 90%;
  display: inline;
}

#appHeading h1 {
  margin: 0;
  padding: 0;
  height: 5vh;
  font-size: 4vh;
  display: inline;
  line-height: 5vh;
}

#appBody {
  max-width: 1280px;
  height: calc(100vh - 5vh - 1px);
  margin: calc(5vh + 1px) auto 0 auto;
  padding: 0 2rem;
  text-align: center;
  place-items: center;
  min-width: 320px;
}

.mainGameBody {
  height: 50vh;
  max-width: 50vh;
  overflow-y: hidden;
  background: var(--secondary);
  border: 1px solid var(--text);
  border-radius: 8px;
  margin: 0 auto 2vh auto;
  padding: 0;
  filter: drop-shadow(2px 2px 2px var(--shadow));
}

.innerGameBody {
  height: 50vh;
  overflow-y: auto;
}

.mainGameBody ul {
  list-style-type: none;
  padding-left: 0;
}

.counter {
  font-size: 1.2em;
  white-space: pre;
  font-family: 'Courier New', Courier, monospace;
}

.timer {
  max-width: 50vh;
  margin: 1vh auto;
  border: 1px solid var(--text);
  border-radius: 8px;
  font-weight: bold;
}

.themeDescriptionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.themeDescription {
  height: 8rem;
  width: 60vw;
  max-width: 800px;
}

#themeCreator textarea {
  width: 100%;
  resize: vertical;
}