header {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid var(--text);
  background-color: var(--secondary);
  overflow: hidden;
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: var(--shadow);
  z-index: 2000;
}

header img {
  margin: 0 0.5rem;
  height: 90%;
  display: inline;
}

header h1 {
  margin: 0;
  padding: 0;
  height: 90%;
  font-size: 2.7rem;
  display: inline;
  line-height: 2.7rem;
}

main {
  max-width: 1280px;
  width: calc(100% - 4rem);
  min-width: 320px;
  margin: calc(3rem + 2px) auto calc(1.5rem + 2px) auto;
  padding: 1px 2rem;
  text-align: center;
  place-items: center;
}

footer {
  margin: 0;
  padding: 0;
  border-top: 2px solid var(--text);
  background-color: var(--secondary);
  height: 1.5rem;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: var(--shadow);
}

footer p {
  margin: 0;
  padding: 0;
  height: 1.5rem;
  line-height: 1.5rem;
}

.gameplay {
  min-width: 40vh;
  max-width: calc(max(100vw, 60vh));
}

.mainGameBody {
  height: 50vh;
  overflow-y: hidden;
  background: var(--secondary);
  border: 2px solid var(--text);
  border-radius: 8px;
  margin: 0 auto 2vh auto;
  padding: 0;
  box-shadow: var(--shadow);
}

.innerGameBody {
  position: relative;
  height: 50vh;
  overflow-y: auto;
  container-type: size;
}

.innerGameBody .logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.innerGameBody img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  opacity: 0.05;
  pointer-events: none;
  user-select: none;
}

.innerGameBody h3 {
  margin: 0.5vh;
  font-size: 9cqw;
}

.mainGameBody ul {
  list-style-type: none;
  padding-left: 0;
}

.mainGameBody li,
.mainGameBody p {
  font-size: calc(min(9cqw, 9cqh));
}

.counter {
  font-size: 1.2em;
  white-space: pre;
  font-family: 'Courier New', Courier, monospace;
}

.timer {
  margin: 1vh auto 2vh auto;
  border: 2px solid var(--text);
  border-radius: 8px;
  font-weight: bold;
  box-shadow: var(--shadow);
}

.themeDescriptionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.themeDescription {
  height: 8rem;
  width: 60vw;
  max-width: 800px;
}

.themeList {
  text-align: left;
}

.theme-stepper {
  min-width: 320px;
  width: calc(100vw - 4rem);
  max-width: 1280px;
}

#themeCreator textarea {
  width: 100%;
  resize: vertical;
}

.MuiPaper-root {
  background-color: var(--secondary) !important;
}