header {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid var(--text);
  background-color: var(--secondary);
  overflow: hidden;
  height: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  position: fixed;
  top: 0;
  left: 0;
}

header img {
  margin: 0 0.5rem;
  height: 90%;
  display: inline;
}

header h1 {
  margin: 0;
  padding: 0;
  height: 90%;
  font-size: 1.8rem;
  display: inline;
  line-height: 1.8rem;
}

main {
  max-width: 1280px;
  width: calc(100vw - 4rem);
  min-width: 320px;
  margin: calc(2rem + 1px) auto calc(1rem + 1px) auto;
  padding: 1px 2rem;
  text-align: center;
  place-items: center;
}

footer {
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--text);
  background-color: var(--secondary);
  height: 1rem;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer p {
  margin: 0;
  padding: 0;
  height: 90%;
  font-size: 0.9rem;
  line-height: 0.9rem;
}

.gameplay {
  min-width: 40vh;
  max-width: calc(max(100vw, 60vh));
}

.mainGameBody {
  height: 50vh;
  overflow-y: hidden;
  background: var(--secondary);
  border: 1px solid var(--text);
  border-radius: 8px;
  margin: 0 auto 2vh auto;
  padding: 0;
  box-shadow: var(--shadow);
}

.innerGameBody {
  height: 50vh;
  overflow-y: auto;
}

.mainGameBody ul {
  list-style-type: none;
  padding-left: 0;
}

.counter {
  font-size: 1.2em;
  white-space: pre;
  font-family: 'Courier New', Courier, monospace;
}

.timer {
  max-width: 50vh;
  margin: 1vh auto;
  border: 1px solid var(--text);
  border-radius: 8px;
  font-weight: bold;
  box-shadow: var(--shadow);
}

.themeDescriptionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.themeDescription {
  height: 8rem;
  width: 60vw;
  max-width: 800px;
}

#themeCreator textarea {
  width: 100%;
  resize: vertical;
}