:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --background: light-dark(#def, #123);
  --text: light-dark(#123, #def);
  --shadowColor: light-dark(#0008, #7778);
  --shadow: 2px 2px 6px var(--shadowColor);
  --secondary: light-dark(#cdf, #124);
  --accent: light-dark(#26c, #26c);
  --accent-hover: light-dark(#04a, #04a);
  --accent-text: light-dark(#def, #def);
  --team-red: light-dark(#800, #c44);
  --team-green: light-dark(#080, #4c4);
  --team-purple: light-dark(#808, #c4c);
  --team-yellow: light-dark(#660, #cc4);
  --team-blue: light-dark(#008, #77f);
  background-color: var(--background);
  color: var(--text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: var(--accent);
  text-decoration: inherit;
}

a:hover {
  color: var(--accent-hover);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--accent);
}

h2 {
  color: var(--accent);
}

h3 {
  color: var(--accent);
}

h4 {
  color: var(--accent);
}

h5 {
  color: var(--accent);
}

h6 {
  color: var(--accent);
}

button {
  border-radius: 8px;
  border: 2px solid var(--text);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--accent);
  color: var(--accent-text);
  text-shadow: var(--text) 0 0 4px;
  cursor: pointer;
  transition: background-color 0.25s;
  transition: color 0.25s;
}

button:disabled {
  background-color: var(--secondary);
  cursor: not-allowed;
}

button:hover {
  background-color: var(--accent-hover);
}

button:disabled:hover {
  background-color: var(--secondary);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}